/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    flex: 1;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cta-buttons .cta, .cta-buttons .join-community {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
}
.cta {
    background-color: #ff0076;
}
.join-community {
    background-color: #333;
}

/* Date to Remember */
.date-to-remember-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.date-to-remember-page .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.date-to-remember-page #calendar {
    width: 100%;
}

/* Daily Verse */
.daily-verse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    flex: 1;
    text-align: center;
}
.daily-verse blockquote {
    font-size: 1.8rem;
}

/* Gallery */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

/* Hide calendar container on other pages */
#calendar {
    display: none;
}

.date-to-remember-page #calendar {
    display: block;
}
